*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 992px;
    margin: 0 auto;
    text-align: center;
}
header img{
    width: 50%;
}
button{
    background: blueviolet;
    color: #fff;
    outline: none;
    padding: 12px 20px;
    font-size: 20px;
}